{% extends "bug_tracker/layout.html" %}

{% block title %}Home{% endblock %}

{% load static %}

{% block content %}
<div class="col-sm-10">
    <div class="pt-3 ps-2 h4 pb-3"> DASHBOARD</div>
      <div class="row">
      <div class="col-sm-12 bg-light2 border-charts mt-5 ms-3 rounded">
          <div class="d-flex justify-content-between">
              <div class="h6 pt-3 ps-2"> Projects {{ proect_id }}</div>
              {% if 'Project_Manager' in group_names %}
              <div class="pt-3"><button type="button" class="btn btn-color2 btn-color2-shadow btn-sm" data-bs-toggle="modal" data-bs-target="#myModal">New Project</button></div>
              {% endif %}
          </div>
          <div>
             <!-- The Modal for editing a project-->
          <form action="{% url 'update_project' %}" method='POST'>
            {% csrf_token %}
          <div class="modal" id="myModalp">
            <div class="modal-dialog modal-dialog-custom">
              <div class="modal-content modal-content-custom">

                <!-- Modal Header -->
                <div class="modal-header border-bottom-0">
                  <h6 class="modal-title">Edit project</h6>
                  <button type="button" class="btn-close text-end" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body border-bottom-0">
                    <input type="hidden" id="project_id" name="project_id">
                    <div class="mb-3 mt-1">
                      <label for="Project_name" class="text-dialog mb-1">Project Name</label>
                      <input type="text" class="form-control" id="Project_name" placeholder="Enter Project Name " name="project_name" required>
                    </div>
                    <div class="mb-3">
                      <label for="project_description" class="text-dialog mb-1">Project Description</label>
                      <textarea class="form-control" rows="3" id="project_description" placeholder="Enter Project Name" name="project_description" required></textarea>
                    </div>
                    <div class="mb-3">
                      <label for="selx" class="text-dialog mb-1">Add Team Members</label>
                      <select multiple class="form-select" id="selx" name="sellist2a" required>
                        {% for user in users %}
                        <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer border-top-0">
                  <button type="submit" class="btn btn-primary btn-sm dialog-custom-button" data-bs-dismiss="modal">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </form>
          </div>

          <!-- The Modal for creating project -->
          <form action="{% url 'create_project' %}" method="POST">
            {% csrf_token %}
          <div class="modal" id="myModal">
            <div class="modal-dialog modal-dialog-custom">
              <div class="modal-content modal-content-custom">

                <!-- Modal Header -->
                <div class="modal-header border-bottom-0">
                  <h6 class="modal-title">Add New project</h6>
                  <button type="button" class="btn-close text-end" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body border-bottom-0">
                    <div class="mb-3 mt-1">
                      <label for="Project_name" class="text-dialog mb-1">Project Name</label>
                      <input type="text" class="form-control" id="Project_name" placeholder="Enter Project Name " name="project_name" required>
                    </div>
                    <div class="mb-3">
                      <label for="project_description" class="text-dialog mb-1">Project Description</label>
                      <textarea class="form-control" rows="3" id="project_description" placeholder="Enter Project Name" name="project_description" required></textarea>
                    </div>
                    <div class="mb-3">
                      <label for="selx" class="text-dialog mb-1">Add Team Members</label>
                      <select multiple class="form-select" id="selx" name="sellist2a" required>
                        {% for user in users %}
                        <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer border-top-0">
                  <button type="submit" class="btn btn-primary btn-sm dialog-custom-button" data-bs-dismiss="modal">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </form>
          <div>
              <table class="table-responsive table-hover">
                  <thead>
                    <tr>
                      <th>Project</th>
                      <th>Description</th>
                      <th>Contributors</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for project in project_list %}
                      <tr>
                        <td class="text-color5 size1"><b><a class="text-color5 size1 x" href="{% url 'project_view' project.id %}">{{ project.project_name }}</a></b></td>                      
                        <td class="truncate size1">{{ project.project_description }}</td>
                        <td class="truncate size1">{{ project.team_members.all|join:", " }}</td>
                        <td>
                          {% if project.project_creator == request.user %}
                          <div class="dropdown">
                            <i class="material-icons more-vert-icon4" id="dropdownMenuButton{{ project.id }}" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-project-id="{{ project.id }}">more_vert</i>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ project.id }}">
                              <a class="dropdown-item edit-linkp" data-project-id="{{ project.id }}">Edit project</a>
                              <a class="dropdown-item delete-linkp" data-project-id="{{ project.id }}">Delete project</a>
                            </div>
                          </div>
                          {% endif %}
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <div>
                  <nav aria-label="...">
                    <ul class="pagination pagination-sm pt-1 ps-1">
                      {% for page in page_range %}
                      <li class="page-item text-color5 {%  if page_number == page %} active {% endif %}">
                        <a class="page-link text-color5 {%  if page_number == page %} active {% endif %}" href="?page={{ page }}" tabindex="-1">{{ page }}</a>
                      </li>
                      {% endfor %}
                    </ul>
                  </nav>
                </div>
          </div>
      </div>
    </div>

    <div class="row pt-3">
      <div class="container-fluid ms-1 d-flex">
      <div class="col-sm-4 transform border-charts rounded bg-charts">
        <div>
          <div class="p-2 h6">Tickets by Type</div>
          <div class="border-bottom my-2 mx-2"></div>
           <div class="chart-height" id="chart1">
           </div>
        </div>
      </div>
      <div class="col-sm-4 transform border-charts ms-2 rounded bg-charts">
        <div>
          <div class="p-2 h6">Tickets by Priority</div>
          <div class="border-bottom my-2 mx-2"></div>
          <div class="chart-height" id="chart2">
          </div>
        </div>
      </div>
      <div class="col-sm-4 transform border-charts ms-3 rounded bg-charts">
        <div>
          <div class="p-2 h6">Tickets by status</div>
          <div class="border-bottom my-2 mx-2"></div>
          <div class="chart-height" id="chart3">
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
<script src="{% static 'chart1.js' %}"></script>
<script src="{% static 'chart2.js' %}"></script>
<script src="{% static 'chart3.js' %}"></script>
<script src="{% static 'index.js' %}"></script>
{% endblock %}