{% extends "bug_tracker/layout.html" %}

{% block title %}Register{% endblock %}

{% load static %}

{% block body %}
<body class="background-login">
    <div class="container">
      <div class="d-flex flex-column mt-5 mx-auto">
         <div class="text-center text-white h2">Bug Tracker</div>
         <div class="text-center text-color1">Login or Register</div>
         <div class="mt-5 rounded mx-auto bg-light width-custom3 shodow-div1">
            <div class="text-center p-3 text-color3"><b>Sign Up</b></div>
            <form action="{% url 'register' %}" method="POST">
                {% csrf_token %}
            <div class="row">
               <div class="col-sm-6 mt-4 mx-auto ps-4">
                <div class="input-group mb-2 ">
                    <span class="material-symbols-outlined md-19 border-div2 shadow-div1 rounded1 input-custom input-group-text">person</span>
                    <input type="text" class="form-control border-div2 shadow-div1 rounded1" id="first" name="first_name" placeholder="First Name">
                  </div>
               </div>

               <div class="col-sm-6 mt-4 mx-auto pe-4">
                <div class="input-group mb-2 ">
                    <span class="material-symbols-outlined md-19 border-div2 shadow-div1 rounded1 input-custom input-group-text">person</span>
                    <input type="text" class="form-control border-div2 shadow-div1 rounded1" id="last" name="last_name" placeholder="Last Name">
                  </div>
               </div>
            </div>
                              
            <div class="row">
                <div class="col-sm-12 mt-2 mx-auto pe-4 ps-4 ">
                    <div class="input-group mb-1">
                        <span class="material-symbols-outlined md-19 border-div2 shadow-div1 rounded1 input-custom input-group-text">phone_iphone</span>
                        <input type="text" class="form-control border-div2 shadow-div1 rounded1" id="phone" name="phone_number" placeholder="Phone Number">
                      </div>
                </div>
             </div>

             <div class="row">
              <div class="col-sm-12 mt-2 mx-auto pe-4 ps-4 ">
                  <div class="input-group mb-1">
                      <span class="material-symbols-outlined md-19 border-div2 shadow-div1 rounded1 input-custom input-group-text">email</span>
                      <input type="email" class="form-control border-div2 shadow-div1 rounded1" id="email" name="email" placeholder="Email">
                    </div>
              </div>
           </div>

             <div class="row">
              <div class="col-sm-12 mt-2 mx-auto pe-4 ps-4 ">
                  <div class="input-group mb-1">
                      <span class="material-symbols-outlined md-19 border-div2 shadow-div1 rounded1 input-custom input-group-text">key</span>
                      <input type="text" class="form-control border-div2 shadow-div1 rounded1" id="password" name="password" placeholder="Password">
                    </div>
              </div>
           </div>

           <div class="row">
            <div class="col-sm-12 mt-2 mx-auto pe-4 ps-4 ">
                <div class="input-group mb-1">
                    <span class="material-symbols-outlined md-19 border-div2 shadow-div1 rounded1 input-custom input-group-text">key</span>
                    <input type="text" class="form-control border-div2 shadow-div1 rounded1" id="Confirm" name="password_confirm" placeholder="Confirm Password">
                  </div>
            </div>
         </div>
    
             <div class="row">
                  <div class="col-sm-12 mt-3 mx-auto mb-4 text-center">
                    <button type="submit" class="btn btn-primary button-color1 shadow-button1">Sign In</button>
                  </div>
             </div>
         </div>
         </div>
      </div>
    </form>
    <div class="mx-auto custom-width2">
        <div class="text-center custom-font2 text-color2 mt-5 mb-3">Already have account? <a href="{% url 'layout' %}" class="text-color2 custom-font2 x">login Here.</a></div>
          <div class="text-center mt-2 "><footer><span class="material-icons md-18 md-light">
           copyright
      </span><span class="align-top text-color2">2021</span><span class="align-top text-color2"> ntwari</span></footer></div>
   </div>
    </div>
  </body>
{% endblock %}

