{% extends "bug_tracker/layout.html" %}

{% block title %}Register{% endblock %}

{% load static %}

{% block body %}
<body class="background-login">
    <div class="container">
        <div class="p-1 text-center">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}

            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="d-flex flex-column mt-3 mx-auto">
           <div class="mt-5 rounded border-div1 mx-auto bg-light shodow-div1">
              <div class="p-4 text-center">
                  Enter your email address and we'll send you an email with instructions to reset your password.
              </div>
              <div class="row">
                 <div class="col-sm-12 mt-3 custom-width mx-auto ">
                  <form action="{% url 'forgot_password' %}" method="post">
                    {% csrf_token %}
                    <div class="input-group mb-2">
                      <span class="material-symbols-outlined border-div2 shadow-div1 rounded1 input-custom input-group-text">mail</span>
                      <input type="text" class="form-control border-div2 shadow-div1 rounded1" placeholder="Email" name="email">
                    </div>
                 </div>
              </div>
             
               <div class="row">
                    <div class="col-sm-12 mt-3 mx-auto mb-4 text-center">
                      <button type="submit" class="btn btn-primary button-color1 shadow-button1 ">RESET PASSWORD</button>
                    </div>
               </div>
              </form>
           </div>
           </div>
        </div>
        <div class="d-flex mt-2 mx-auto custom-width2">
          <div class="col-sm-6 text-start text-color2 custom-font2">
            <a class="text-color2 custom-font2 x" href="{% url 'layout' %}">Login here</a>
          </div>
          <div class="col-sm-6 text-end text-color2 custom-font2">
            <a class="text-color2 custom-font2 x" href="{% url 'register' %}">Create Account</a>
          </div>
      </div>
      <div class="mx-auto custom-width2">
            <div class="text-center mt-2 "><footer><span class="material-icons md-18 md-light">
             copyright
        </span><span class="align-top text-color2">2021</span><span class="align-top text-color2"> ntwari</span></footer></div>
     </div>
      </div>
  </body>
{% endblock %}
